
div{
    background-color: rgb(255, 233, 237);
    border: 1.5mm solid rgb(237, 120, 140);
    border-radius: 1.5vh;
    font-size: 3vh;
    height:95vh;
    margin:2% 2% 2% 2%;
    text-align: center;
}
button{
    padding: 0.5%;
      width: 5%;
      background: white;
      color: rgb(255, 167, 220);
      text-align: center;
      font-size: 1.2vh;
      cursor: pointer;
      margin: 0% 0% 0% 0%;
      border-radius: 10px;
      border: solid pink 3px;
}
button:hover{
    background-color: rgb(236, 173, 206);
    color: white;
  }
input {
    margin: 0;
    width: 79%;
    padding: 10px;
    font-size: 1.2vh;
    border:1mm solid rgb(237, 120, 140);
    border-radius: 1.5vh;
}
/* .informationdiv{
  border: none;
 
}
p{
  border: solid black;
} */